@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #efebff;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #efebff;
    color: #5640b8;
    padding: 1.5rem;
    box-shadow: 0px 3px 8px #464646; 
}

button img{
    height: 3rem;
    width: 6rem;
    border: none;
}

.tabuada{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
}

p{
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #5640b8;
}

input{
    margin: 1rem;
    width: 5rem;
    padding: 0.9rem;
    background-color: #dfd7ff;
    border-color: #8777be;
    border-radius: 0.3rem;
    color: #203992;
}

textarea:focus, input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.button2{
    background-color: #5640b8;
    color: #fff;
    padding: 5px;
    height: 2rem;
    margin-top: 1.4rem;
    transition: all 0.4s;
    border: #5640b8;
    border-radius: 0.5rem;
    width: 4rem;
    height: 2.3rem;
}

.button2:hover{
    background-color: #674fec ;
}

.space{
    display: flex;
}

#tabela-tabuada{
    font-size: 1rem;
    text-align: justify;
    margin-top: 2rem;
    color: #2a1292;
    background-color: #e8e2ff;
    border-radius: 1rem;
    padding: 2rem;
    
}

.dark-mode{
    background-color: #1b0446;
}

.dark-mode header{
    background-color: #25065e;
    color: #fff;
}

.dark-mode p{
    color: #fff;
}

.dark-mode input{
    background-color: #fff;
}

.dark-mode .button2{
    background-color: #fff;
    color: #1b0446;
    transition: all 0.4s;
}

.dark-mode .button2:hover{
    background-color: #8068e7;
}

.dark-mode #tabela-tabuada{
    background-color: #25065e;
    color: #fff;
}

.dark-mode footer #footer_content{
    background-color: #25065e;
}

.dark-mode footer #footer_copyright{
    background-color: #2b086d;
}


footer{
    width: 100%;
    color: #f5f5f5;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px; /*espaçamento entre letras*/
    padding-top: 4rem;
    margin-top: 12rem;
}

.img-footer{
    height: 6rem;
    width: 7rem;
}

.footer-link{
    text-decoration: none;
}

#footer_content{
    background-color: #7c81ca;
    display: grid; /*colunas*/ 
    grid-template-columns: repeat(4, 1fr); /*para distribuir em 4 colunas*/
    padding: 3rem 3.5rem;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
}

#footer_social_media{
    display: flex;
    gap: 2rem; /*espaçmento entre os ícones*/
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem; /*para poder por um background*/
    color: #ffffff ;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i{
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover{
    opacity: 0.8;
}

#instagram{
    background: #704ece;
}

#email{
    background-color: #704ece;
}

#linkedin{
    background-color: #704ece;
}

#github{
    background-color: #704ece;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;list-style: none;
    margin-top: 2rem;
    margin-left: 2rem;
}

.footer-list .footer-link{
    color: #ffffff;
    transition: all 0.4s;
}

.footer-list .footer-link:hover{
    color: #7e6ac7;
}

#footer_subscribe{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

#footer_subscribe p{
    color: #fff;
   
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: #745dd6;
    font-size: 0.9;
    padding: 1.5rem;
    font-weight: 100;
}